.projects {
    margin: 50px 50px 0px 50px;
}

.projects-container {
    display: grid;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

.project {
    background-color: #D9DAFB;
}

.job-active {
    background-color: rgb(0, 89, 119);
}

.project-container {
    background-color: #D9DAFB;
    border-radius: 20px;
}

.project-container .project-title {
    text-align: center;
}

.project-container .project-description {
    text-align: center;
}

.project-container .github-link {
    text-align: center;
    text-decoration: bold;   
    margin: none; 
}

.project-container .project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
}
