.projects {
    margin: 50px 50px 0px 50px;
}

.projects-container {
    display: grid;
    grid-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    margin-bottom: 5vh;
}

.project {
    background-color: #D7E3E5;
}

.job-active {
    background-color: rgb(0, 89, 119);
}

.project-container {
    background-color: #D7E3E5;
    border-radius: 20px;
}

.project-container .project-title {
    text-align: center;
    color: #2E4D58;
}

.project-container .project-description {
    text-align: center;
    color: #2E4D58;
}

.project-container .github-link {
    text-align: center;
    text-decoration: bold;   
    margin-top: -10px; 
    color: #1e3138;
}

.project-container .project-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .projects {
        margin: 10px 0px 0px 0px;
    }
    
    .projects-container {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 90vw;
    }

    .project-container .project-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

  }

