.contact-main-section {
    align-items: center;
}

.contact-container {
    display: block;
    max-width: 60%;
    margin-left: auto;
}

.contact-contents {
    display: block;
}

.contact-title {
    color: white;
}

.contact-title span {
    background-color: #9864AA;
    border-radius: 10px;
}

@media only screen and (min-device-width: 120px) and (max-device-width: 900px) {

    .contact-main-section {
        align-items: center;
    }
    
    .contact-container {
        display: block;
        max-width: 100%;
        margin-left: none;
    }
    
    .contact-contents {
        display: block;
        font-size: 20px;
    }
    
    .contact-title {
        color: white;
        font-size: 20px;
    }
    
    .contact-title span {
        background-color: #9864AA;
        border-radius: 5px;
    }

  }