@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    font-family: Source Code Pro, sans-serif;
    color: black;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
}

.logo {
    display: flex;
    align-items: center;
}

.main-nav ul {
    display: flex;
    padding: 0;
    list-style: none;
    font-size: 25px;
    margin-top: 5%;
}

.main-nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.main-nav a:hover {
    color: rgb(109, 109, 109);
}

.main-header {
    display: flex;
    height: 150px;
    justify-content: space-between;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

@media only screen and (min-device-width: 120px) and (max-device-width: 900px) {

    body {
        padding: 0;
        margin: 0;
        background-color: #FFFFFF;
        font-family: Source Code Pro, sans-serif;
        color: black;
        min-height: 100vh;
        max-height: 100vh;
    }
    
    .logo img {
        display: flex;
        align-items: center;
        max-width: 8vw;
        margin: 0;
    }
    
    .main-nav ul {
        display: flex;
        padding: 0;
        list-style: none;
        font-size: 16px;
        margin-top: 5%;
    }
    
    .main-nav a {
        text-decoration: none;
        color: black;
        padding: 1rem;
    }
    
    .main-nav a:hover {
        color: rgb(109, 109, 109);
    }
    
    .main-header {
        display: flex;
        height: 150px;
        justify-content: space-between;
    }
    
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

  }
