.work {
    margin: 50px 50px 0px 50px;
}

.work-container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
    margin-bottom: 20px;
    width: 70vw;
}

.job-container {
    display: inline;
    width: 100%;
    background-color: #D9DAFB;
    border-radius: 20px;
}

.job-container .job-title {
    text-align: center;
    margin-bottom: -20px;
}

.job-container .job-description {
    text-align: center;
}

.job-container .job-date {
    text-align: center;
    margin: none;
}

